Connected Services/AlumniImageService/AlumniImageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfImageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageDTO" nillable="true" type="tns:ImageDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageDTO" nillable="true" type="tns:ArrayOfImageDTO" />
  <xs:complexType name="ImageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlumniID" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageID" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageDTO" nillable="true" type="tns:ImageDTO" />
</xs:schema>