Connected Services/AlumniImageService/AlumniImageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AlumniImageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56362/Services/AlumniImageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56362/Services/AlumniImageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56362/Services/AlumniImageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlumniImageService_GetAllImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllImage" />
  </wsdl:message>
  <wsdl:message name="IAlumniImageService_GetAllImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllImageResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumniImageService_GetImageById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageById" />
  </wsdl:message>
  <wsdl:message name="IAlumniImageService_GetImageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumniImageService_DeleteImageById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImageById" />
  </wsdl:message>
  <wsdl:message name="IAlumniImageService_DeleteImageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumniImageService_AddImage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImage" />
  </wsdl:message>
  <wsdl:message name="IAlumniImageService_AddImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlumniImageService">
    <wsdl:operation name="GetAllImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumniImageService/GetAllImage" message="tns:IAlumniImageService_GetAllImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumniImageService/GetAllImageResponse" message="tns:IAlumniImageService_GetAllImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumniImageService/GetImageById" message="tns:IAlumniImageService_GetImageById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumniImageService/GetImageByIdResponse" message="tns:IAlumniImageService_GetImageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImageById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumniImageService/DeleteImageById" message="tns:IAlumniImageService_DeleteImageById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumniImageService/DeleteImageByIdResponse" message="tns:IAlumniImageService_DeleteImageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumniImageService/AddImage" message="tns:IAlumniImageService_AddImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumniImageService/AddImageResponse" message="tns:IAlumniImageService_AddImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlumniImageService" type="tns:IAlumniImageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllImage">
      <soap:operation soapAction="http://tempuri.org/IAlumniImageService/GetAllImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageById">
      <soap:operation soapAction="http://tempuri.org/IAlumniImageService/GetImageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImageById">
      <soap:operation soapAction="http://tempuri.org/IAlumniImageService/DeleteImageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <soap:operation soapAction="http://tempuri.org/IAlumniImageService/AddImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlumniImageService">
    <wsdl:port name="BasicHttpBinding_IAlumniImageService" binding="tns:BasicHttpBinding_IAlumniImageService">
      <soap:address location="http://localhost:56362/Services/AlumniImageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>