Connected Services/AlumniService/AlumniService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56362/Services/AlumniService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
  <xs:complexType name="ArrayOfAlumniDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlumniDTO" nillable="true" type="tns:AlumniDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumniDTO" nillable="true" type="tns:ArrayOfAlumniDTO" />
  <xs:complexType name="AlumniDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlumniID" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Degree" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="DistrictDDL" nillable="true" type="q1:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="DistrictID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacultyID" type="xs:int" />
      <xs:element minOccurs="0" name="FacultyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GraduationYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Hobbies" nillable="true" type="tns:ArrayOfHobbyDTO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="HobbiesDDl" nillable="true" type="q2:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="HobbiesListName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkedInProfile" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="MajorDDl" nillable="true" type="q3:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="MajorID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MajorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlumniDTO" nillable="true" type="tns:AlumniDTO" />
  <xs:complexType name="ArrayOfHobbyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HobbyDTO" nillable="true" type="tns:HobbyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHobbyDTO" nillable="true" type="tns:ArrayOfHobbyDTO" />
  <xs:complexType name="HobbyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="HobbyID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HobbyDTO" nillable="true" type="tns:HobbyDTO" />
  <xs:complexType name="ArrayOfStateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateDTO" nillable="true" type="tns:StateDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateDTO" nillable="true" type="tns:ArrayOfStateDTO" />
  <xs:complexType name="StateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateDTO" nillable="true" type="tns:StateDTO" />
  <xs:complexType name="ArrayOfDistrictDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistrictDTO" nillable="true" type="tns:DistrictDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrictDTO" nillable="true" type="tns:ArrayOfDistrictDTO" />
  <xs:complexType name="DistrictDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistrictID" type="xs:int" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistrictDTO" nillable="true" type="tns:DistrictDTO" />
</xs:schema>