Connected Services/UserManagementService/UserManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AspNetUserDTO.UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessFailedCount" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LockoutEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="LockoutEndDateUtc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumberConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="SecurityStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TwoFactorEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserClaims" nillable="true" type="tns:ArrayOfAspNetUserDTO.UserClaimDTO" />
      <xs:element minOccurs="0" name="UserLogins" nillable="true" type="tns:ArrayOfAspNetUserDTO.UserLoginDTO" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRoles" nillable="true" type="tns:ArrayOfAspNetUserDTO.UserRoleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserDTO.UserDTO" nillable="true" type="tns:AspNetUserDTO.UserDTO" />
  <xs:complexType name="ArrayOfAspNetUserDTO.UserClaimDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserDTO.UserClaimDTO" nillable="true" type="tns:AspNetUserDTO.UserClaimDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserDTO.UserClaimDTO" nillable="true" type="tns:ArrayOfAspNetUserDTO.UserClaimDTO" />
  <xs:complexType name="AspNetUserDTO.UserClaimDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:AspNetUserDTO.UserDTO" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserDTO.UserClaimDTO" nillable="true" type="tns:AspNetUserDTO.UserClaimDTO" />
  <xs:complexType name="ArrayOfAspNetUserDTO.UserLoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserDTO.UserLoginDTO" nillable="true" type="tns:AspNetUserDTO.UserLoginDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserDTO.UserLoginDTO" nillable="true" type="tns:ArrayOfAspNetUserDTO.UserLoginDTO" />
  <xs:complexType name="AspNetUserDTO.UserLoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginProvider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:AspNetUserDTO.UserDTO" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserDTO.UserLoginDTO" nillable="true" type="tns:AspNetUserDTO.UserLoginDTO" />
  <xs:complexType name="ArrayOfAspNetUserDTO.UserRoleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserDTO.UserRoleDTO" nillable="true" type="tns:AspNetUserDTO.UserRoleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserDTO.UserRoleDTO" nillable="true" type="tns:ArrayOfAspNetUserDTO.UserRoleDTO" />
  <xs:complexType name="AspNetUserDTO.UserRoleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:AspNetUserDTO.RoleDTO" />
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:AspNetUserDTO.UserDTO" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserDTO.UserRoleDTO" nillable="true" type="tns:AspNetUserDTO.UserRoleDTO" />
  <xs:complexType name="AspNetUserDTO.RoleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolePermissions" nillable="true" type="tns:ArrayOfAspNetUserDTO.RolePermissionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserDTO.RoleDTO" nillable="true" type="tns:AspNetUserDTO.RoleDTO" />
  <xs:complexType name="ArrayOfAspNetUserDTO.RolePermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserDTO.RolePermissionDTO" nillable="true" type="tns:AspNetUserDTO.RolePermissionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserDTO.RolePermissionDTO" nillable="true" type="tns:ArrayOfAspNetUserDTO.RolePermissionDTO" />
  <xs:complexType name="AspNetUserDTO.RolePermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Permission" nillable="true" type="tns:AspNetUserDTO.PermissionDTO" />
      <xs:element minOccurs="0" name="PermissionId" type="xs:int" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:AspNetUserDTO.RoleDTO" />
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserDTO.RolePermissionDTO" nillable="true" type="tns:AspNetUserDTO.RolePermissionDTO" />
  <xs:complexType name="AspNetUserDTO.PermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolePermissions" nillable="true" type="tns:ArrayOfAspNetUserDTO.RolePermissionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserDTO.PermissionDTO" nillable="true" type="tns:AspNetUserDTO.PermissionDTO" />
  <xs:complexType name="ArrayOfAspNetUserDTO.UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserDTO.UserDTO" nillable="true" type="tns:AspNetUserDTO.UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserDTO.UserDTO" nillable="true" type="tns:ArrayOfAspNetUserDTO.UserDTO" />
</xs:schema>