Connected Services/PhotoAlbumService/PhotoAlbumService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhotoAlbumDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoAlbumDTO" nillable="true" type="tns:PhotoAlbumDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoAlbumDTO" nillable="true" type="tns:ArrayOfPhotoAlbumDTO" />
  <xs:complexType name="PhotoAlbumDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumID" type="xs:int" />
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ThumbnailPhoto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoAlbumDTO" nillable="true" type="tns:PhotoAlbumDTO" />
  <xs:complexType name="ArrayOfPhotoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoDTO" nillable="true" type="tns:PhotoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoDTO" nillable="true" type="tns:ArrayOfPhotoDTO" />
  <xs:complexType name="PhotoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumID" type="xs:int" />
      <xs:element minOccurs="0" name="IsPhotoAlbumThumbnail" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PhotoFilleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoID" type="xs:int" />
      <xs:element minOccurs="0" name="PhotoPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoDTO" nillable="true" type="tns:PhotoDTO" />
</xs:schema>