Connected Services/MajorService/MajorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlumniManagement.WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMajorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MajorDTO" nillable="true" type="tns:MajorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMajorDTO" nillable="true" type="tns:ArrayOfMajorDTO" />
  <xs:complexType name="MajorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacultyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FacultyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MajorID" type="xs:int" />
      <xs:element minOccurs="0" name="MajorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MajorDTO" nillable="true" type="tns:MajorDTO" />
</xs:schema>